.form__group {
  // margin-bottom: 1.5rem;
}

.form__label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form__input--radio-group {
  flex-direction: row-reverse; // RTL
  justify-content: flex-start;
}

.form__input--radio-item {
  margin-inline-end: 1rem;
}
